section {
    padding: 1rem 5%;
    min-height: 100vh;
    margin-top: -750px;
    padding-bottom: -20%;
}

.container {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 10px;
    margin-left: 15%;
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main p {
    font-size: 30px;
    font-weight: normal;
    margin: 16px 0;
}

.main h1 {
    font-size: 60px;
    font-weight: bold;
}

.main h2 {
    font-size: 40px;
}

.main a {
    padding: 10px 30px;
    border-radius: 50px;
    font-size: 25px;
    margin: 20px 0;
    border: 1px solid #20c997;
    cursor: pointer;
}

.main a:hover {
    color: white;
    background: aqua;
}
