<section class="contact">
    <div class="my-contact">
        <h1>CONTACT</h1>
        <p>Get in Touch</p>
    </div>

    <div class="address-details">
        <div class="address">
            <p class="add-head">ADDRESS</p>
            <p class="add-para">4th Floor, Plot No.22,</p>
            <p class="add-para">145 Murphy Canyon Rd.</p>
            <p class="add-para">San Diego CA 2028</p>
            <div class="call-num">
                <p class="add-para"><span>📞</span>6283169615</p>
                <p class="add-para"><span>☎️</span>6283169615</p>
                <p class="add-para"><span>📁</span>Prince@gmail.com</p>
            </div>
            <div class="social">
                <h3>FOLLOW ME</h3>

            </div>
        </div>
        <div class="address-form">
            <p class="add-head">SEND US A NOTE</p>
            <input type="name" placeholder="Name">
            <input class="input-email" type="email" placeholder="Email">
            <br>
            <textarea name="text" cols="87" rows="10" placeholder="Tell us more about your needs......."></textarea>
            <br>
            <button class="btn-message">Send Message</button>
        </div>
    </div>
</section>
