<section class="service" id="WhatIDo">
    <div class="service-content">
        <h1>SERVICE</h1>
        <p>What I Do?</p>
    </div>
    <div class="row-skill">
        <div class="col-2">
            <div class="graphic">

                <br><br>
                <div class="graphic-head">
                    <h4 class="h4">Graphic Design</h4>
                    <p class="p">Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                    </p>
                </div>
                <div class="graphic">

                    <div class="graphic-head">
                        <h4>UI/UX Design</h4>
                        <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.
                        </p>
                    </div>
                </div>
                <div class="graphic">

                    <div class="graphic-head">
                        <h4>Business Analysis</h4>
                        <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
