<section class="about" id="aboutMe">
    <div class="about-content">
        <h1>ABOUT ME</h1>
        <P>Know Me More</P>
    </div>

    <div class="about-developer">
        <div class="para-content">
            <h2>I'm <span>Prince Sharma,</span>a Full stack Web Developer</h2>
            <p>I help you build brand for your business at an affordable price. Thousands of clients have procured exceptional results while working with our dedicated team. when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.</p>
            <br>
            <p> Delivering work within time and budget which meets client's requirements is our moto. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer took a galley.</p>
        </div>

        <div class="developer-data">
            <p><b>Name:</b> Prince Sharma</p>

            <p class="gmail"><b> Email:</b><span> Prince@gmail.com</span></p>

            <p><b>Age:</b> 21</p>

            <p><b>From:</b> Punjab</p>

            <button class="download-btn">Download CV</button>
        </div>
    </div>
    <div class="experiance">
        <div class="col-4">
            <div class="exper-1">
                <h1>10+</h1>
                <p>Years Experiance</p>
            </div>
            <div class="exper-1">
                <h1>250+</h1>
                <p>Happy Clients</p>
            </div>
            <div class="exper-1">
                <h1>650+</h1>
                <p>Projects Done</p>
            </div>
            <div class="exper-1">
                <h1>38</h1>
                <p>Get Awards</p>
            </div>
        </div>
    </div>
</section>
