.footer {
    display: flex;
    padding: 10px;
    background-color: #7de0d0;
}

.copyright p {
    font-size: 16px;
    margin-right: 400px;
}

.copyright p span {
    color: #20c997;
}

.copyright {
    font-size: 16px;
    margin-left: 20%;
}
