<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Admin Header</a>

        <button (click)="logout()">
            logout</button>


    </div>

</nav>
<div class="header">
    <div class="side-nav">
        <a href="#" class="logo">
            <p>Admin Header</p>
        </a>
        <ul class="nav-links">
            <li>
                <a skipLocationChange routerLink="./home">

                    <p>Home</p>
                </a>
            </li>
            <li>
                <a skipLocationChange routerLink="./about">

                    <p>About</p>
                </a>
            </li>
            <li>
                <a skipLocationChange routerLink="./services">

                    <p>Services</p>
                </a>
            </li>
            <li>
                <a skipLocationChange routerLink="./contact">

                    <p>Contact</p>
                </a>
            </li>

            <li class=" btn-primary nav-item text-white" role="button">
                <a class="nav-link text-white" (click)="logout()">logout</a>
            </li>
        </ul>
    </div>
</div>
